- var aboutClass = "inactive"
- var blogClass = "active"
- var portfolioClass = "inactive"

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    include ../assets/markup/nav.jade
    div.subhead
      h1.page-title Posts
    main#blog-posts
      each post in postArr
        div
          a(href=post.path)
            p=post.title
            span=post.date
