- var aboutClass = "inactive";
- var blogClass = "active";
- var portfolioClass = "inactive";
- var contactClass = "inactive";
- var faviconURL = "../assets/images/site-wide/favicon-logo.png";

- var logoURL = "../assets/images/sprites/sprites.svg#logo";

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    include ../assets/markup/favicon.jade
    link(href="../assets/styles/grizzly/grid.css" rel="stylesheet" type="text/css")
    link(href="../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-wrapper
      include ../assets/markup/nav.jade
      main#App
      footer.site-footer
    script(src="../assets/scripts/g_a_code.js")
    script(src="/portfolio/bundle.js" type="text/javascript")
    
