.blog-container {
  padding: 0 1.5rem;
  padding-bottom: 50px;
}

.blog-wrapper {
  max-width: 880px;
}

.blog-row {
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media (max-width: 650px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
