- var aboutClass = "inactive"
- var blogClass = "inactive"
- var portfolioClass = "active"

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-container
      header#site-header
        include ../assets/markup/nav.jade
      main#portfolio-content
        header.sub-header#portfolio-header
          h1.page-title Business
          h1.page-title Web Development
        #portfolio-posts
      script(src="../assets/scripts/client.js")
    
    
