- var aboutClass = "inactive";
- var blogClass = "active";
- var portfolioClass = "inactive";
- var contactClass = "inactive";

- var logoURL = "../../assets/images/sprites/sprites.svg#logo"

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../../assets/styles/grizzly/grid.css" rel="stylesheet" type="text/css")
    link(href="../../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-wrapper
      include ../../assets/markup/nav.jade
      main.blog-post-main
        article.row.center--col-x
          div.blog-post-wrap.box.wrapper.center-content
            header.blog-post-header
              h1.blog-title #{title}
              span.blog-date #{date}
            div#blog-post-md-content.blog-post-text.col
              != markdownContent
            .back-blog-container
              a.back-blog-btn(href="/blog") More Posts...
            #disqus_thread
    script(src="../../assets/scripts/g_a_code.js")
    script(src="../../assets/scripts/disqus.js")
