link( rel="icon" type="image/png" href=faviconURL)
link( rel="icon" type="image/gif" href=faviconURL)
link( rel="icon" type="image/jpeg" href=faviconURL)
link( rel="icon" type="image/vnd.microsoft.icon" href=faviconURL)
