nav.row.nav-parent-row
  box.wrapper
    .row.center--col-x.nav-wrapper-row
      .box.logo-box.auto--width 
        a.nav-logo-link(href="/")
          svg#nav-logo-svg
            use(xlink:href=logoURL)
      .box.auto--width.nav-list-box
        .row.nav-list
          a.box.nav-list-item-box.auto--width(href="/" id="about-link" class=aboutClass)
            span.nav-text-item About
          a.box.nav-list-item-box.auto--width(href="/portfolio" id="portfolio-link" class=portfolioClass)
            span.nav-text-item Portfolio
          a.box.nav-list-item-box.auto--width(href="/blog" id="blog-link" class=blogClass)
            span.nav-text-item Blog
          a.box.nav-list-item-box.auto--width(href="/contact" id="contact-link" class=contactClass)
            span.nav-text-item Contact

    
    
