ul#nav-list.col.col--4-of-8
  a(href="/" id="about-link" class=aboutClass): li About
  a(href="/portfolio" id="portfolio-link" class=portfolioClass): li Portfolio
  a(href="/blog" id="blog-link" class=blogClass): li Blog

    
    
