- var aboutClass = "inactive";
- var blogClass = "inactive";
- var portfolioClass = "active";
- var contactClass = "inactive";

- var logoURL = "../../assets/images/sprites/sprites.svg#logo"

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../../assets/styles/grizzly/grid.css" rel="stylesheet" type="text/css")
    link(href="../../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-wrapper
      include ../../assets/markup/nav.jade
      main.portfolio-post-main
        article.row.center--col-x
          div.post-wrap.box.wrapper.center-content
            header.portfolio-post-header(style='border-color:' + colorDark)
              h1.post-title #{title}
              span.post-date #{date}
              div.btn-links
                a.btn-link-wrapper(target="_blank" href=appLink)
                  button(style='background-color:' + colorDark).btn App
                a.btn-link-wrapper(target="_blank" href=githubLink)
                  button.btn Code
            div.box.post-md-content.md-content
              != pageMarkdownContent
        #disqus_thread
      footer.site-footer
    script(src="../../assets/scripts/g_a_code.js")
    script(src="../../assets/scripts/portfolio-post.js")
    noscript
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        
