doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../../assets/styles/main.css" rel="stylesheet" type="text/css")
    body
      .page-container
        header#site-header
          include ./nav.jade
        main.portfolio-post-content
          article.portfolio-post-composition
            header.sub-header
              h1.page-title #{postTitle}
            div.portfolio-post-description
              span #{postDate}
            #portfolio-post-md-content.md-content
              != postContent
