.actionButtons
  a.toApp.btn(href=links.app target="_blank")
    span live app
    .content(class= 'grad_'+postTitle.replace(/\s/g,'-').toLowerCase())
  a.toGithub.btn(href=links.github target="_blank") #{"<Code>"}
