.writing-summary header h3 {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.post-link {
    display: block;
    width: 100%;
    font-family: sans-serif;
    margin: 2rem 0;
    color: var(--text-color);
}

.post-link h3 {
    margin: 0.75rem 0;
}


.post-link:hover {
    text-decoration: underline;
}


.writing-summary p {
    margin: 0;
    text-decoration: None;
}

