@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic);
* {
  margin: 0px;
  padding: 0px; }

#blog-post, #proj-post {
  font-family: "Roboto",sans-serif;
  color: black; }

body {
  padding: 1.5rem; }

.site-header {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0px;
  box-sizing: border-box; }
  .site-header .site-nav {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: inherit; }
    .site-header .site-nav .navList {
      margin: 0px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      list-style: none;
      box-sizing: border-box;
      position: absolute;
      text-align: left; }
      .site-header .site-nav .navList li {
        margin: 0px;
        display: inline;
        font-family: "Roboto",sans-serif;
        font-size: 14px; }
        .site-header .site-nav .navList li a {
          text-decoration: none;
          text-align: left;
          color: black;
          padding: 14px;
          transition: "all 1s ease-in-out";
          cursor: pointer; }
          .site-header .site-nav .navList li a:hover {
            opacity: 1 !important; }
          .site-header .site-nav .navList li a.active {
            opacity: 1; }
          .site-header .site-nav .navList li a.inactive {
            opacity: .4; }
          .site-header .site-nav .navList li a:first-child {
            padding-left: 0px; }

.subhead .page-title, .subhead .page-title-port, .subhead .page-title-port + h1, .subhead #cat-one-title,
.subhead #cat-two-title {
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 12px 0;
  display: inline;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  .subhead .page-title:after, .subhead .page-title-port:after, .subhead .page-title-port + h1:after, .subhead #cat-one-title:after,
  .subhead #cat-two-title:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #5FB7FF;
    bottom: -1px;
    position: absolute; }

body {
  overflow-x: hidden; }

.subhead {
  position: relative;
  width: 100vw;
  height: 40px;
  margin-left: -1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3); }
  .subhead .page-title, .subhead .page-title-port, .subhead .page-title-port + h1, .subhead #cat-one-title,
  .subhead #cat-two-title {
    left: 1.5rem; }
  .subhead .page-title-port:after {
    display: none; }
  .subhead .page-title-port + h1 {
    position: relative;
    margin-left: 20px; }
    .subhead .page-title-port + h1:after {
      display: none; }

#about-post #profilePic {
  width: 100%;
  max-width: 600px;
  padding: 2em 0 2em 0; }

#about-post p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em; }

#about-post p + p {
  text-indent: 20px; }

#blog-post-list {
  width: 100%;
  margin: 2em 0; }
  #blog-post-list div {
    cursor: pointer;
    margin: 2em 0; }
    #blog-post-list div:hover p {
      color: #006cc5 !important; }
    #blog-post-list div a {
      color: black;
      text-decoration: none; }
      #blog-post-list div a p, #blog-post-list div a span {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }
      #blog-post-list div a span {
        z-index: -1; }

#blog-post, #proj-post {
  margin: 2em 0; }
  #blog-post .post-description, #proj-post .post-description {
    margin-bottom: 1em; }
    #blog-post .post-description span, #proj-post .post-description span {
      font-size: 16px;
      line-height: 1.5em;
      font-style: italic;
      opacity: .6;
      display: block; }
  #blog-post article h1:first-child, #proj-post article h1:first-child {
    margin-bottom: 1em; }
  #blog-post article h2, #proj-post article h2, #blog-post article h3, #proj-post article h3, #blog-post article h4, #proj-post article h4, #blog-post article h5, #proj-post article h5, #blog-post article h6, #proj-post article h6 {
    margin-bottom: .5em;
    padding-top: 1.5em; }
  #blog-post article p, #proj-post article p {
    line-height: 1.5em; }
  #blog-post article p + p, #proj-post article p + p {
    text-indent: 1em; }
  #blog-post article ul, #proj-post article ul {
    list-style: disc inside none; }
  #blog-post article ol, #proj-post article ol {
    list-style: decimal inside none; }
  #blog-post article hr, #proj-post article hr {
    margin: 2em 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none; }
  #blog-post article blockquote, #proj-post article blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em; }

.subhead #cat-one-title,
.subhead #cat-two-title {
  cursor: pointer; }
  .subhead #cat-one-title:after,
  .subhead #cat-two-title:after {
    display: none; }

.subhead #cat-one-title + h1 {
  position: absolute;
  left: 105px; }

.subhead #slider {
  position: absolute;
  height: 3px;
  bottom: 0;
  background-color: #5FB7FF;
  transition: all 500ms ease-in-out;
  left: 1.5rem; }

.subhead .default-slider {
  transform: translateX(0);
  width: 58px; }

.subhead .right-slider {
  transform: translateX(82px);
  width: 114px; }

#posts-in-category {
  position: relative;
  margin: 2em 0; }
  #posts-in-category div {
    margin: 2em 0; }
    #posts-in-category div a {
      color: black;
      text-decoration: none; }
      #posts-in-category div a p, #posts-in-category div a span {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }
