@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic);
* {
  margin: 0px;
  padding: 0px; }

.site-header {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0px;
  box-sizing: border-box; }
  .site-header .site-nav {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: inherit; }
    .site-header .site-nav .navList {
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      list-style: none;
      box-sizing: border-box;
      position: absolute;
      text-align: left; }
      .site-header .site-nav .navList li {
        margin: 0px;
        display: inline;
        font-family: "Roboto",sans-serif;
        font-size: 14px; }
        .site-header .site-nav .navList li a {
          text-decoration: none;
          text-align: left;
          color: black;
          padding: 14px;
          transition: "all 1s ease-in-out";
          cursor: pointer; }
          .site-header .site-nav .navList li a:hover {
            opacity: 1 !important; }
          .site-header .site-nav .navList li a.active {
            opacity: 1; }
          .site-header .site-nav .navList li a.inactive {
            opacity: .4; }
          .site-header .site-nav .navList li a:first-child {
            padding-left: 0px; }

.subhead .page-title, .subhead .page-title-port, .subhead .page-title-port + h1, .subhead #cat-one-title, .subhead #cat-two-title {
  position: absolute;
  bottom: 0px;
  left: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 12px 0;
  display: inline;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  .subhead .page-title:after, .subhead .page-title-port:after, .subhead .page-title-port + h1:after, .subhead #cat-one-title:after, .subhead #cat-two-title:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #5FB7FF;
    bottom: -1px;
    position: absolute; }

.subhead {
  position: relative;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3); }
  .subhead .page-title-port:after {
    display: none; }
  .subhead .page-title-port + h1 {
    position: relative;
    margin-left: 20px; }
    .subhead .page-title-port + h1:after {
      display: none; }
  .subhead #slider {
    background-color: #5FB7FF; }

#about-post {
  padding: 1em; }
  #about-post #profilePic {
    width: 100%;
    max-width: 600px;
    padding: 1em 0 2em 0; }
  #about-post p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em; }
  #about-post p + p {
    text-indent: 20px; }

#blog-posts {
  width: 100%;
  margin: 2em 1em; }
  #blog-posts div {
    cursor: pointer;
    margin: 2em 0; }
    #blog-posts div:hover p {
      color: #006cc5 !important; }
    #blog-posts div a {
      color: black;
      text-decoration: none; }
      #blog-posts div a p {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }
      #blog-posts div a span {
        z-index: -1; }

.subhead #cat-one-title, .subhead #cat-two-title {
  cursor: pointer; }
  .subhead #cat-one-title:after, .subhead #cat-two-title:after {
    display: none; }

.subhead #cat-one-title + h1 {
  position: absolute;
  left: 95px; }

.subhead #slider {
  position: absolute;
  height: 3px;
  left: 1em;
  bottom: 0px;
  background-color: #5FB7FF;
  transition: transform 400ms ease-in-out; }

.subhead .default-slider {
  transform: translateX(0);
  width: 58px; }

.subhead .right-slider {
  transform: translateX(80px);
  width: 27px; }

#posts-in-category {
  position: relative;
  left: 1em; }
