@charset "UTF-8";
/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
.row {
  list-style: none;
  margin-left: -25px; }

.col--5-of-5, .col--8-of-8, .col--12-of-12 {
  width: 100%; }

.col--4-of-8, .col--6-of-12 {
  width: 50%; }

.col--4-of-12 {
  width: 33.33333%; }

.col--8-of-12 {
  width: 66.66667%; }

.col--2-of-8, .col--3-of-12 {
  width: 25%; }

.col--6-of-8, .col--9-of-12 {
  width: 75%; }

.col--push-5-of-5, .col--push-8-of-8, .col--push-12-of-12 {
  margin-left: 100%; }

.col--push-4-of-8, .col--push-6-of-12 {
  margin-left: 50%; }

.col--push-4-of-12 {
  margin-left: 33.33333%; }

.col--push-8-of-12 {
  margin-left: 66.66667%; }

.col--push-2-of-8, .col--push-3-of-12 {
  margin-left: 25%; }

.col--push-6-of-8, .col--push-9-of-12 {
  margin-left: 75%; }

.col--pull-5-of-5, .col--pull-8-of-8, .col--pull-12-of-12 {
  margin-left: -100%; }

.col--pull-4-of-8, .col--pull-6-of-12 {
  margin-left: -50%; }

.col--pull-4-of-12 {
  margin-left: -33.33333%; }

.col--pull-8-of-12 {
  margin-left: -66.66667%; }

.col--pull-2-of-8, .col--pull-3-of-12 {
  margin-left: -25%; }

.col--pull-6-of-8, .col--pull-9-of-12 {
  margin-left: -75%; }

.col--1-of-5 {
  width: 20%; }

.col--push-1-of-5 {
  margin-left: 20%; }

.col--pull-1-of-5 {
  margin-left: -20%; }

.col--2-of-5 {
  width: 40%; }

.col--push-2-of-5 {
  margin-left: 40%; }

.col--pull-2-of-5 {
  margin-left: -40%; }

.col--3-of-5 {
  width: 60%; }

.col--push-3-of-5 {
  margin-left: 60%; }

.col--pull-3-of-5 {
  margin-left: -60%; }

.col--4-of-5 {
  width: 80%; }

.col--push-4-of-5 {
  margin-left: 80%; }

.col--pull-4-of-5 {
  margin-left: -80%; }

.col--1-of-8 {
  width: 12.5%; }

.col--push-1-of-8 {
  margin-left: 12.5%; }

.col--pull-1-of-8 {
  margin-left: -12.5%; }

.col--3-of-8 {
  width: 37.5%; }

.col--push-3-of-8 {
  margin-left: 37.5%; }

.col--pull-3-of-8 {
  margin-left: -37.5%; }

.col--5-of-8 {
  width: 62.5%; }

.col--push-5-of-8 {
  margin-left: 62.5%; }

.col--pull-5-of-8 {
  margin-left: -62.5%; }

.col--7-of-8 {
  width: 87.5%; }

.col--push-7-of-8 {
  margin-left: 87.5%; }

.col--pull-7-of-8 {
  margin-left: -87.5%; }

.col--1-of-12 {
  width: 8.33333%; }

.col--push-1-of-12 {
  margin-left: 8.33333%; }

.col--pull-1-of-12 {
  margin-left: -8.33333%; }

.col--2-of-12 {
  width: 16.66667%; }

.col--push-2-of-12 {
  margin-left: 16.66667%; }

.col--pull-2-of-12 {
  margin-left: -16.66667%; }

.col--5-of-12 {
  width: 41.66667%; }

.col--push-5-of-12 {
  margin-left: 41.66667%; }

.col--pull-5-of-12 {
  margin-left: -41.66667%; }

.col--7-of-12 {
  width: 58.33333%; }

.col--push-7-of-12 {
  margin-left: 58.33333%; }

.col--pull-7-of-12 {
  margin-left: -58.33333%; }

.col--10-of-12 {
  width: 83.33333%; }

.col--push-10-of-12 {
  margin-left: 83.33333%; }

.col--pull-10-of-12 {
  margin-left: -83.33333%; }

.col--11-of-12 {
  width: 91.66667%; }

.col--push-11-of-12 {
  margin-left: 91.66667%; }

.col--pull-11-of-12 {
  margin-left: -91.66667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 25px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.33333%; }
    .col.col--m-2-of-3 {
      width: 66.66667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.33333%; }
    .col.col--s-2-of-3 {
      width: 66.66667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }

* {
  padding: 0;
  margin: 0; }

body > header, #about-content, #blog-content, .blog-post-content, #portfolio-main, .portfolio-post-main, main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 850px; }

:root {
  font-size: 16px; }

body {
  padding: 25px; }
  @media (max-width: 700px) {
    body {
      overflow-x: hidden; } }

.hide-me {
  display: none !important; }

/*
 * COMPONENTS BELOW
*/
@media (min-width: 701px) {
  .nav_container {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    margin-left: -25px;
    display: block;
    height: 100px;
    box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.2); } }

#logo-container {
  padding-left: 25px;
  display: inline-block; }
  #logo-container #logo-svg_elem {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    height: 40px;
    width: 40px; }

@media (max-width: 700px) {
  #logo-container #logo-svg_elem {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@media (min-width: 701px) {
  #logo-container {
    box-sizing: border-box;
    width: 28%;
    display: inline-block;
    height: 100%;
    text-align: right;
    padding-right: 50px; }
    #logo-container #logo-svg_elem {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(0deg);
              transform: translateY(-50%) rotate(0deg); } }

body > header {
  width: 100%;
  font-family: "Roboto",sans-serif;
  font-size: 16px; }
  body > header nav {
    box-sizing: border-box; }
    body > header nav #nav-list {
      list-style: none inside; }
      body > header nav #nav-list a {
        color: black;
        text-decoration: none; }
        body > header nav #nav-list a.inactive {
          opacity: .3; }
        body > header nav #nav-list a li {
          display: inline-block;
          padding-right: 1em; }
      body > header nav #nav-list a:nth-child(1) > li {
        padding-left: 0; }
    @media (max-width: 700px) {
      body > header nav #nav-list-container {
        padding-top: 1.5rem;
        padding-bottom: 2rem; } }
  @media (min-width: 701px) {
    body > header {
      height: 100px;
      margin-bottom: 3rem;
      margin-top: -25px; }
      body > header nav {
        height: 100%; }
        body > header nav .row {
          height: 100%;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          body > header nav .row #nav-list-container {
            height: 100%;
            width: 220px; }
            body > header nav .row #nav-list-container #nav-list {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%); } }

.sub-header .page-title, .blog-post-content #blog-header-wrap header .page-title, #portfolio-main header .page-title, main #contact-sub-header .page-title {
  font-size: 1rem;
  font-family: "Roboto",sans-serif;
  display: inline-block; }

@media (max-width: 700px) {
  .sub-header, .blog-post-content #blog-header-wrap header, #portfolio-main header, main #contact-sub-header {
    width: 100vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 1.5rem; }
    .sub-header .page-title, .blog-post-content #blog-header-wrap header .page-title, #portfolio-main header .page-title, main #contact-sub-header .page-title {
      padding-top: .75em;
      padding-bottom: .75em;
      border-bottom: 2px solid #5FB7FF; } }

@media (min-width: 701px) {
  .sub-header, .blog-post-content #blog-header-wrap header, #portfolio-main header, main #contact-sub-header {
    position: relative;
    text-align: right;
    padding-right: 50px; }
    .sub-header .page-title, .blog-post-content #blog-header-wrap header .page-title, #portfolio-main header .page-title, main #contact-sub-header .page-title {
      display: inline-block;
      position: relative;
      right: 0px; }
      .sub-header .page-title:after, .blog-post-content #blog-header-wrap header .page-title:after, #portfolio-main header .page-title:after, main #contact-sub-header .page-title:after {
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        -webkit-transform: translate(2rem, -50%);
                transform: translate(2rem, -50%);
        background-color: #5FB7FF;
        height: .5rem;
        width: .5rem;
        border-radius: 50%; } }

@media (min-width: 701px) and (max-width: 800px) {
  .sub-header, .blog-post-content #blog-header-wrap header, #portfolio-main header, main #contact-sub-header {
    position: relative;
    text-align: right;
    padding-right: 28px; } }

#profile-pic {
  width: 70%;
  padding-bottom: 2rem; }

@media (min-width: 701px) {
  #about-content .sub-header {
    width: 28%; }
  #about-content article > div {
    width: 72%; } }

#blog-content #blog-posts div {
  cursor: pointer;
  margin: 2em 0;
  -webkit-tap-highlight-color: rgba(55, 183, 255, 0.1); }
  #blog-content #blog-posts div a {
    color: black;
    text-decoration: none; }
    #blog-content #blog-posts div a h1 {
      color: black;
      font-weight: 600;
      font-size: 1.25em;
      padding-bottom: .5rem; }
    #blog-content #blog-posts div a:hover h1 {
      color: #0088f8; }
    #blog-content #blog-posts div a h1, #blog-content #blog-posts div a span {
      font-family: "Roboto", sans-serif; }
    #blog-content #blog-posts div a span {
      opacity: .4; }
    #blog-content #blog-posts div a #blog-preview-dcr {
      color: rgba(56, 56, 56, 0.9);
      line-height: 2rem;
      max-width: 475px;
      margin: 1rem 0;
      font-family: "Merriweather", serif; }

#blog-content #blog-posts div:nth-child(1) {
  margin-top: 0; }

#blog-content #blog-posts div:not(:first-child) a h1 {
  padding-top: 1.25rem; }

@media (min-width: 701px) {
  #blog-content .sub-header {
    width: 28%; }
  #blog-content #blog-posts {
    width: 72%; } }

.blog-post-content #blog-header-wrap .blog-post-description {
  display: inline-block;
  margin-top: .75em;
  margin-bottom: 1.5em; }
  .blog-post-content #blog-header-wrap .blog-post-description span {
    font-family: "Roboto",sans-serif;
    display: block;
    color: grey; }

@media (max-width: 700px) {
  .blog-post-content #blog-header-wrap header {
    margin-left: -25px; }
    .blog-post-content #blog-header-wrap header .page-title {
      margin-left: 25px; } }

@media (min-width: 701px) {
  .blog-post-content #blog-header-wrap .blog-post-description {
    padding-right: 50px; } }

@media (min-width: 701px) {
  .blog-post-content #blog-header-wrap {
    width: 28%;
    text-align: right; } }

@media (min-width: 701px) {
  .blog-post-content #blog-post-md-content {
    width: 72%; } }

.blog-post-content #back-blog-container {
  padding-left: 25px;
  position: relative;
  margin-top: 3em;
  margin-bottom: 2em; }
  .blog-post-content #back-blog-container #back-blog {
    position: relative;
    box-sizing: border-box;
    padding: 0.75rem 1.75rem;
    border-radius: 50px;
    border: 2px solid rgba(56, 56, 56, 0.9);
    text-decoration: none;
    color: rgba(56, 56, 56, 0.9);
    text-align: center;
    color: rgba(56, 56, 56, 0.9);
    cursor: pointer;
    outline: none; }

@media (min-width: 701px) {
  .blog-post-content article #back-blog-container {
    width: 72%;
    left: 28%; }
    .blog-post-content article #back-blog-container #back-blog {
      opacity: .3;
      transition: background 250ms ease, color 250ms ease, opacity 200ms ease; }
      .blog-post-content article #back-blog-container #back-blog:hover {
        opacity: 1; } }

@media (max-width: 700px) {
  .blog-post-content article #back-blog-container {
    width: 72%;
    left: 0; }
    .blog-post-content article #back-blog-container #back-blog {
      opacity: 1;
      display: inline-block; } }

@-webkit-keyframes draw-check {
  from {
    stroke-dashoffset: 140; }
  to {
    stroke-dashoffset: 0; } }

@keyframes draw-check {
  from {
    stroke-dashoffset: 140; }
  to {
    stroke-dashoffset: 0; } }

#blog-post-md-content {
  font-family: "Merriweather",serif; }
  #blog-post-md-content p {
    color: rgba(56, 56, 56, 0.9); }
  #blog-post-md-content h1 {
    font-size: 1.75em; }
  #blog-post-md-content h1, #blog-post-md-content h2, #blog-post-md-content h3, #blog-post-md-content h4, #blog-post-md-content h5, #blog-post-md-content h6 {
    margin-bottom: .5em;
    padding-top: 2em;
    font-family: "Roboto",sans-serif; }
  #blog-post-md-content #blog-statement {
    font-weight: bold;
    line-height: 2rem;
    margin: 3rem 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem; }
  #blog-post-md-content h2 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  #blog-post-md-content h1 + h2 {
    padding-top: 1em;
    margin-bottom: 1em; }
  #blog-post-md-content h3 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  #blog-post-md-content h1 + h3 {
    padding-top: 1em;
    margin-bottom: 1em; }
  #blog-post-md-content h4 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  #blog-post-md-content h1 + h4 {
    padding-top: 1em;
    margin-bottom: 1em; }
  #blog-post-md-content h5 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  #blog-post-md-content h1 + h5 {
    padding-top: 1em;
    margin-bottom: 1em; }
  #blog-post-md-content h6 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  #blog-post-md-content h1 + h6 {
    padding-top: 1em;
    margin-bottom: 1em; }
  #blog-post-md-content a {
    color: #ed7669; }
    #blog-post-md-content a:visited {
      text-decoration: underline; }
  #blog-post-md-content p + p {
    text-indent: 2em; }
    #blog-post-md-content p + p.own-line {
      margin-top: 2rem;
      text-indent: 0; }
  #blog-post-md-content hr {
    margin: 2em 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none; }
  #blog-post-md-content blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em; }
    #blog-post-md-content blockquote.bold {
      font-size: 1.25em;
      font-weight: bold;
      color: rgba(56, 56, 56, 0.9);
      border-left: 0.2em solid #5FB7FF;
      line-height: 1.75em; }
  #blog-post-md-content p img {
    margin: 3rem 0;
    display: block; }
    #blog-post-md-content p img.center {
      margin-left: auto;
      margin-right: auto; }
  #blog-post-md-content p .portrait {
    width: 60%; }
    #blog-post-md-content p .portrait.shadow {
      box-shadow: 1px 1px 5px 2px #cdcdcd; }
    #blog-post-md-content p .portrait.full {
      height: 100%; }
    #blog-post-md-content p .portrait.med {
      height: 450px;
      width: auto; }
    #blog-post-md-content p .portrait.sml {
      height: 300px;
      width: auto; }
  #blog-post-md-content p .landscape {
    width: 80%; }
    #blog-post-md-content p .landscape.full {
      width: 100%;
      height: auto; }
    #blog-post-md-content p .landscape.med {
      width: 450px;
      height: auto; }
    #blog-post-md-content p .landscape.sml {
      width: 300px;
      height: auto; }
  #blog-post-md-content .gen-list-container {
    margin-top: 2.5rem;
    color: rgba(56, 56, 56, 0.9); }
    #blog-post-md-content .gen-list-container + p {
      margin-top: 2rem; }
    #blog-post-md-content .gen-list-container .gen-list-heading {
      margin: 0 0 0 2rem;
      padding: 0;
      padding-bottom: .75rem; }
    #blog-post-md-content .gen-list-container .gen-list {
      list-style: none;
      margin: 0 0 0 2rem; }
      #blog-post-md-content .gen-list-container .gen-list .list-item {
        line-height: 2.5rem;
        position: relative;
        font-family: "Roboto",sans-serif;
        font-size: 1.05em; }
        #blog-post-md-content .gen-list-container .gen-list .list-item:before {
          content: '';
          display: block;
          position: absolute;
          top: 1.19rem;
          left: -1rem;
          height: 5px;
          width: 5px;
          background-color: rgba(56, 56, 56, 0.9);
          border-radius: 50%; }
        #blog-post-md-content .gen-list-container .gen-list .list-item #check {
          transition: all 250ms;
          position: absolute;
          left: -1.5rem;
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
          width: .75em;
          height: .75em;
          stroke-dasharray: 140;
          -webkit-animation: draw-check 1s ease-out backwards 1s;
                  animation: draw-check 1s ease-out backwards 1s; }
  #blog-post-md-content .tasks {
    list-style: none;
    margin: 0 0 3rem 2rem; }
    #blog-post-md-content .tasks li {
      line-height: 2.5rem;
      position: relative;
      color: rgba(56, 56, 56, 0.9);
      font-family: "Roboto",sans-serif;
      font-size: 1.05em; }
      #blog-post-md-content .tasks li #check {
        transition: all 250ms;
        position: absolute;
        left: -1.5rem;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        width: .75em;
        height: .75em;
        stroke-dasharray: 140;
        -webkit-animation: draw-check 1s ease-out backwards 1s;
                animation: draw-check 1s ease-out backwards 1s; }
  @media (max-width: 700px) {
    #blog-post-md-content {
      font-size: 1rem; }
      #blog-post-md-content p {
        line-height: 1.65em; }
        #blog-post-md-content p .portrait {
          width: 80%; }
          #blog-post-md-content p .portrait.med {
            height: 350px;
            width: auto; }
          #blog-post-md-content p .portrait.sml {
            height: 200px;
            width: auto; }
        #blog-post-md-content p img.landscape {
          width: 100% !important; } }
  @media (min-width: 701px) {
    #blog-post-md-content {
      font-size: 1rem; }
      #blog-post-md-content p {
        line-height: 2em; } }

#portfolio-main header {
  position: relative; }
  #portfolio-main header .page-title {
    cursor: pointer;
    border: none;
    transition: opacity 250ms ease-in-out; }
  @media (max-width: 700px) {
    #portfolio-main header {
      margin-bottom: 3em; }
      #portfolio-main header .page-title:first-child {
        margin-right: 2em; }
      #portfolio-main header .page-title:not(:first-child) {
        margin-left: -.25rem; } }
  @media (min-width: 701px) {
    #portfolio-main header {
      width: 28%; }
      #portfolio-main header .page-title {
        display: block;
        text-align: right; }
        #portfolio-main header .page-title:after {
          display: none; }
      #portfolio-main header h1:first-child {
        padding-bottom: 1.5em; } }
  #portfolio-main header .inactive-page-title {
    opacity: .3; }
  #portfolio-main header .default-slider {
    background-color: #5FB7FF;
    position: absolute; }
  #portfolio-main header .mobile-slider {
    margin-left: 25px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 2px;
    bottom: 0px;
    left: 0px;
    transition: width 214ms linear 90ms, -webkit-transform 300ms linear;
    transition: transform 300ms linear, width 214ms linear 90ms;
    transition: transform 300ms linear, width 214ms linear 90ms, -webkit-transform 300ms linear; }
  #portfolio-main header .desktop-slider {
    width: 8px !important;
    height: 8px;
    border-radius: 50%;
    margin-left: 1.5rem;
    top: 6px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    transition: background-color 250ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, background-color 250ms ease-in-out;
    transition: transform 200ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 200ms ease-in-out; }
  #portfolio-main header .slider-move-right {
    -webkit-transform: translateX(162.5px);
            transform: translateX(162.5px); }
  #portfolio-main header .slider-move-down {
    -webkit-transform: translateY(43px);
            transform: translateY(43px); }

#portfolio-main #portfolio-posts div:not(.hide-me) div:not(:first-child) {
  padding-top: 2.5em; }

#portfolio-main #portfolio-posts div:not(.hide-me) div a h4 {
  font-weight: 600;
  font-size: 1.25em; }

#portfolio-main #portfolio-posts div:not(.hide-me) div a span {
  opacity: .4; }

#portfolio-main #portfolio-posts div:not(.hide-me) div a p {
  padding-top: 1em;
  max-width: 475px;
  line-height: 2em;
  color: rgba(56, 56, 56, 0.9);
  font-family: "Merriweather", serif; }

#portfolio-main #portfolio-posts div:not(.hide-me) div a:hover h4 {
  color: #006cc5; }

#portfolio-main #portfolio-posts div:not(.hide-me) div > a {
  color: black;
  font-family: "Roboto",sans-serif;
  text-decoration: none; }

@media (min-width: 701px) {
  #portfolio-main #portfolio-posts {
    width: 72%; } }

@media (max-width: 700px) {
  .portfolio-post-main article #portfolio-post-header-wrap {
    margin-left: -25px;
    padding-bottom: 2rem; }
    .portfolio-post-main article #portfolio-post-header-wrap .sub-header .page-title {
      margin-left: 25px; }
    .portfolio-post-main article #portfolio-post-header-wrap .portfolio-post-description {
      margin-left: 25px; }
  .portfolio-post-main article #portfolio-post-md-content {
    margin-left: 25px;
    padding-left: 0px; } }

@media (min-width: 701px) {
  .portfolio-post-main article #portfolio-post-header-wrap {
    width: 28%;
    text-align: right; }
    .portfolio-post-main article #portfolio-post-header-wrap .portfolio-post-description {
      margin: .75em 0 1.5em 0;
      padding-right: 50px;
      margin-left: 25px; }
  .portfolio-post-main article #portfolio-post-md-content {
    width: 72%; } }

@media (min-width: 701px) and (max-width: 800px) {
  .portfolio-post-main article #portfolio-post-header-wrap .portfolio-post-description {
    padding-right: 33px; } }

@-webkit-keyframes psychodelic {
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); }
  100% {
    -webkit-transform: translateX(-74%);
            transform: translateX(-74%); } }

@keyframes psychodelic {
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); }
  100% {
    -webkit-transform: translateX(-74%);
            transform: translateX(-74%); } }

.actionButtons {
  box-sizing: border-box;
  position: relative;
  padding: 2rem 0 2rem 25px; }
  .actionButtons .btn {
    font-size: 1rem;
    font-family: "Roboto",sans-serif;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 1px 4px 0px rgba(100, 100, 100, 0.4);
    padding: .75em 1.75em; }
  .actionButtons .toApp {
    position: relative;
    vertical-align: top;
    color: white;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); }
    .actionButtons .toApp:hover > .content {
      -webkit-animation: psychodelic 4s alternate forwards ease-in-out infinite;
              animation: psychodelic 4s alternate forwards ease-in-out infinite; }
    .actionButtons .toApp .content {
      display: block;
      position: absolute;
      top: 0px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      height: 100%;
      width: 200%;
      z-index: -1000; }
  .actionButtons .toGithub {
    color: black;
    margin-left: 2rem;
    background-color: white; }

@media (max-width: 700px) {
  .actionButtons .btn {
    margin-bottom: 1rem; } }

@media (min-width: 701px) {
  .actionButtons {
    left: 28%;
    width: 72%; }
    .actionButtons .toGithub {
      margin-left: 2em; } }

.grad_tic-tac-toe {
  background-color: #00ADB5; }

.grad_twitch-viewer {
  background-color: #4538ae; }

.grad_weather-forecast {
  background-color: #02c39a; }

.grad_clock {
  background-color: #EE7C4B; }

.grad_random-quote-generator {
  background-color: #607D8B; }

@keyframes draw-check {
  from {
    stroke-dashoffset: 140; }
  to {
    stroke-dashoffset: 0; } }

.md-content h1:first-child, .md-content h2:first-child, .md-content h3:first-child, .md-content h4:first-child, .md-content h5:first-child, .md-content h6:first-child {
  padding-top: 0 !important;
  margin-bottom: 1em !important; }

.md-content {
  font-family: "Merriweather",serif; }
  .md-content p {
    color: rgba(56, 56, 56, 0.9); }
  .md-content h1 {
    font-size: 1.25em; }
  .md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    margin-bottom: .5em;
    padding-top: 2em;
    font-family: "Roboto",sans-serif; }
    .md-content h1.solo, .md-content h2.solo, .md-content h3.solo, .md-content h4.solo, .md-content h5.solo, .md-content h6.solo {
      padding-bottom: 1em; }
  .md-content h2 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  .md-content h1 + h2 {
    padding-top: 1em;
    margin-bottom: 1em; }
  .md-content h3 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  .md-content h1 + h3 {
    padding-top: 1em;
    margin-bottom: 1em; }
  .md-content h4 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  .md-content h1 + h4 {
    padding-top: 1em;
    margin-bottom: 1em; }
  .md-content h5 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  .md-content h1 + h5 {
    padding-top: 1em;
    margin-bottom: 1em; }
  .md-content h6 {
    color: rgba(56, 56, 56, 0.6);
    font-size: 1.25em;
    font-weight: 600; }
  .md-content h1 + h6 {
    padding-top: 1em;
    margin-bottom: 1em; }
  .md-content a {
    color: #ed7669; }
    .md-content a:visited {
      text-decoration: underline; }
  .md-content p + p {
    text-indent: 2em; }
  .md-content hr {
    margin: 2em 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none; }
  .md-content blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em; }
    .md-content blockquote.bold {
      font-size: 1.25em;
      font-weight: bold;
      color: rgba(56, 56, 56, 0.9);
      border-left: 0.2em solid #5FB7FF;
      line-height: 1.75em; }
  .md-content p + blockquote {
    margin: 3em 0; }
  .md-content p img {
    margin: 3rem 0;
    display: block; }
    .md-content p img.center {
      margin-left: auto;
      margin-right: auto; }
  .md-content p .portrait {
    width: 60%; }
    .md-content p .portrait.shadow {
      box-shadow: 1px 1px 5px 2px #cdcdcd; }
    .md-content p .portrait.full {
      height: 100%; }
    .md-content p .portrait.med {
      height: 450px;
      width: auto; }
    .md-content p .portrait.sml {
      height: 300px;
      width: auto; }
  .md-content p .landscape {
    width: 80%; }
    .md-content p .landscape.full {
      width: 100%;
      height: auto; }
    .md-content p .landscape.med {
      width: 450px;
      height: auto; }
    .md-content p .landscape.sml {
      width: 300px;
      height: auto; }
  .md-content ul.normal {
    color: rgba(56, 56, 56, 0.9);
    list-style-type: none;
    font-family: "Roboto",sans-serif;
    font-size: 1.25em;
    line-height: 1.5em; }
  .md-content p + ul.normal {
    padding-top: 2em;
    padding-left: 3em; }
    .md-content p + ul.normal li {
      counter-increment: step-counter;
      padding-bottom: 2em;
      position: relative; }
      .md-content p + ul.normal li:before {
        font-size: 1.25em;
        content: counter(step-counter);
        position: absolute;
        left: -1.5em;
        color: black;
        text-align: center; }
  .md-content ol.normal {
    color: rgba(56, 56, 56, 0.9);
    list-style-type: none;
    font-family: "Roboto",sans-serif;
    font-size: 1.25em;
    line-height: 1.5em; }
  .md-content p + ol.normal {
    padding-top: 2em;
    padding-left: 3em; }
    .md-content p + ol.normal li {
      counter-increment: step-counter;
      padding-bottom: 2em;
      position: relative; }
      .md-content p + ol.normal li:before {
        font-size: 1.25em;
        content: counter(step-counter);
        position: absolute;
        left: -1.5em;
        color: black;
        text-align: center; }
  @media (max-width: 700px) {
    .md-content {
      font-size: 1rem; }
      .md-content p {
        line-height: 1.65em; }
        .md-content p .portrait {
          width: 80%; }
          .md-content p .portrait.med {
            height: 350px;
            width: auto; }
          .md-content p .portrait.sml {
            height: 200px;
            width: auto; }
        .md-content p img.landscape {
          width: 100% !important; } }
  @media (min-width: 701px) {
    .md-content {
      font-size: 1rem; }
      .md-content p {
        line-height: 2em; } }

main {
  font-family: "Roboto", sans-serif; }
  main #contact-sub-header {
    width: 28%;
    visibility: hidden; }
  main #contact-sections {
    width: 72%;
    box-sizing: border-box;
    font-size: 2rem; }
    main #contact-sections div h1 {
      padding-bottom: .5rem; }
    main #contact-sections div p {
      font-size: .65em;
      color: rgba(100, 100, 100, 0.5);
      margin: 1rem 0; }
    main #contact-sections .social-container {
      margin-bottom: 5rem;
      font-size: 2rem; }
      main #contact-sections .social-container h1 {
        font-size: 1em; }
      main #contact-sections .social-container .icons {
        margin-top: .5em; }
        main #contact-sections .social-container .icons a {
          position: relative;
          height: 80px;
          width: 80px;
          display: inline-block;
          margin-right: 10px;
          margin-top: .5em;
          cursor: pointer; }
          main #contact-sections .social-container .icons a .box {
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            color: #868686;
            box-sizing: border-box; }
            main #contact-sections .social-container .icons a .box:after {
              content: '';
              width: 100%;
              height: 100%;
              display: block;
              position: absolute;
              bottom: 0px;
              left: 0px;
              z-index: -1; }
            main #contact-sections .social-container .icons a .box .logo {
              position: absolute;
              display: block;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
              -webkit-filter: brightness(0) grayscale(1);
                      filter: brightness(0) grayscale(1);
              opacity: .5; }
            main #contact-sections .social-container .icons a .box #facebook, main #contact-sections .social-container .icons a .box #github, main #contact-sections .social-container .icons a .box #instagram {
              width: 30px;
              height: 30px; }
            main #contact-sections .social-container .icons a .box #twitter {
              width: 50px;
              height: 50px; }
            main #contact-sections .social-container .icons a .box #linkedIn {
              width: 40px; }
    main #contact-sections .email-container {
      font-size: 2rem; }
      main #contact-sections .email-container h1 {
        font-size: 1em; }
      main #contact-sections .email-container address {
        margin-top: 1.5em; }
        main #contact-sections .email-container address:hover a {
          color: #5FB7FF;
          text-decoration: underline; }
        main #contact-sections .email-container address a {
          font-size: 1em;
          color: #868686;
          text-decoration: none;
          font-style: normal;
          font-family: "Roboto", sans-serif;
          letter-spacing: 1px; }

.twitter_circle {
  color: #55ACEE; }
  .twitter_circle:after {
    transition: width 250ms ease-in-out; }
  .twitter_circle:hover:after {
    background-color: #55ACEE; }
  .twitter_circle:hover .logo {
    opacity: 1 !important;
    -webkit-filter: grayscale(1) brightness(10) !important;
            filter: grayscale(1) brightness(10) !important; }

.facebook_circle {
  color: #3B5998; }
  .facebook_circle:after {
    transition: width 250ms ease-in-out; }
  .facebook_circle:hover:after {
    background-color: #3B5998; }
  .facebook_circle:hover .logo {
    opacity: 1 !important;
    -webkit-filter: grayscale(1) brightness(10) !important;
            filter: grayscale(1) brightness(10) !important; }

.instagram_circle {
  color: #9D6954; }
  .instagram_circle:after {
    transition: width 250ms ease-in-out; }
  .instagram_circle:hover:after {
    background-color: #9D6954; }
  .instagram_circle:hover .logo {
    opacity: 1 !important;
    -webkit-filter: grayscale(1) brightness(10) !important;
            filter: grayscale(1) brightness(10) !important; }

.linkedIn_circle {
  color: #0077B5; }
  .linkedIn_circle:after {
    transition: width 250ms ease-in-out; }
  .linkedIn_circle:hover:after {
    background-color: #0077B5; }
  .linkedIn_circle:hover .logo {
    opacity: 1 !important;
    -webkit-filter: grayscale(1) brightness(10) !important;
            filter: grayscale(1) brightness(10) !important; }

.github_circle {
  color: #333; }
  .github_circle:after {
    transition: width 250ms ease-in-out; }
  .github_circle:hover:after {
    background-color: #333; }
  .github_circle:hover .logo {
    opacity: 1 !important;
    -webkit-filter: grayscale(1) brightness(10) !important;
            filter: grayscale(1) brightness(10) !important; }

@media (max-width: 700px) {
  main #contact-sections {
    width: 100%; }
    main #contact-sections .social-container {
      font-size: 1.5rem;
      margin-bottom: 2em; }
      main #contact-sections .social-container .icons a {
        margin-left: -4px;
        margin-right: 8px;
        width: 50px !important;
        height: 50px !important; }
      main #contact-sections .social-container .icons #facebook, main #contact-sections .social-container .icons #github, main #contact-sections .social-container .icons #instagram {
        width: 25px !important;
        height: 25px !important; }
      main #contact-sections .social-container .icons #twitter {
        width: 40px !important;
        height: 40px !important; }
      main #contact-sections .social-container .icons #linkedIn {
        width: 30px !important;
        height: auto !important; }
    main #contact-sections .email-container {
      font-size: 1.5rem; }
      main #contact-sections .email-container address a {
        color: #5FB7FF;
        text-decoration: underline; } }

/*# sourceMappingURL=main.css.map */
