$sub-heading-list: h2 h3 h4 h5 h6;

@keyframes draw-check {
  from {
    stroke-dashoffset: 140;
  };
  to{
    stroke-dashoffset: 0;
  }
}


#blog-post-md-content {
  // allways
  font-family: "Merriweather",serif;
  p {
    color: black;
  }

  h1 {
    font-size: 1.75em;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5em;
    padding-top: 2em;
    font-family: "Roboto",sans-serif;
  }
  // specific items

  #blog-statement {
    font-weight: bold;
    line-height: 2rem;
    margin: 3rem 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
  }


  // for h2 h2 h4 h5 h6
  @each $var in $sub-heading-list {
    #{$var} {
      font-size:1.25em;
      font-weight: 600;
    }
    h1 + #{$var} {
      padding-top: 1em;
      margin-bottom: 1em;
    }
  }

  // links
  a {
    color: lighten($accent-red, 10%);
    &:visited {
      text-decoration: underline;
    }
  }

  p+p {
    text-indent: 2em;
    &.own-line {
      margin-top: 2rem;
      text-indent: 0;
    }
  }
  // line seperator
  hr {
    margin: 2em 0;
    height: 1px;
    background-color: transparentize(black, .8);;
    border: none;
  }
  blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em;
    &.bold {
      font-size: 1.25em;
      font-weight: bold;
      color: $text-grey;
      border-left: .2em solid $accent-blue;
      line-height: 1.75em;
    }
  }

  // image classes and styles

  p {
    img {
        margin: 3rem 0;
        display: block;
        &.center{
          margin-left: auto;
          margin-right: auto;
        }
    }
    .portrait {
      width: 60%;
      &.shadow {
        box-shadow: 1px 1px 5px 2px lighten(grey, 30%);
      }
      &.full {
        height: 100%;
      }
      &.med {
        height: 450px;
        width: auto;
      }
      &.sml {
        height: 300px;
        width: auto;
      }
    }
    .landscape {
      width: 80%;
      &.full {
        width: 100%;
        height: auto;
      }
      &.med {
        width: 450px;
        height: auto;
      }
      &.sml {
        width: 300px;
        height: auto;
      }
    }
  }

  // lists
  // generic lists
  .gen-list-container{
    margin-top: 2.5rem;
    color: $text-grey;
    & + p {
      margin-top: 2rem;
    }
    .gen-list-heading {
      margin: 0 0 0 2rem;
      padding: 0;
      padding-bottom: .75rem;
    }
    .gen-list{
      list-style: none;
      margin: 0 0 0 2rem;
      .list-item {
        line-height: 2.5rem;
        position: relative;
        font-family: "Roboto",sans-serif;
        font-size: 1.05em;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 1.19rem;
          left: -1rem;
          height: 5px;
          width: 5px;
          background-color: $text-grey;
          border-radius: 50%;
        }
        #check{
          transition: all 250ms ;
          position: absolute;
          left: -1.5rem;
          transform: translateY(100%);
          width: .75em;
          height: .75em;
          stroke-dasharray: 140;
          animation: draw-check 1s ease-out backwards 1s ;
        }
      }
    }
  }


  // task lists
  .tasks{
    list-style: none;
    margin: 0 0 3rem 2rem;
    li {
      line-height: 2.5rem;
      position: relative;
      color: $text-grey;
      font-family: "Roboto",sans-serif;
      font-size: 1.05em;
      #check{
        transition: all 250ms ;
        position: absolute;
        left: -1.5rem;
        transform: translateY(100%);
        width: .75em;
        height: .75em;
        stroke-dasharray: 140;
        animation: draw-check 1s ease-out backwards 1s ;
      }
    }
  }

  // small and medium devices
  @media(max-width:700px) {
    font-size: 1rem;
    p{
      line-height: 2em;
      .portrait {
        width: 80%;
        &.med {
          height: 350px;
          width: auto;
        }
        &.sml {
          height: 200px;
          width: auto;
        }
      }
      img.landscape {
        width: 100% !important;
      }
    }
  }

  // medium and large devices
  @media(min-width:701px) {
    font-size: 1rem;
    p {
      line-height: 2em;
    }
  }
}
