// default
#disqus_thread{
  margin-top: 5em;
}

// mobile view
@media(max-width: #{$m-bp}){
  #disqus_thread{
    width: 100%;
  }
}

// medium and large view
@media(min-width: #{$m-bp + 1px}){
  #disqus_thread{
    width: 100%;
    position: relative;
  }
}
