$sub-heading-list: h2 h3 h4 h5 h6;
$all-heading-list: h1 h2 h3 h4 h5 h6;

$baseHeadingSize: 20px;
$headingsMap: (
  h1: $baseHeadingSize * 2,
  h2: $baseHeadingSize * 1.5,
  h3: $baseHeadingSize * 1.3,
  h4: $baseHeadingSize * 1,
  h5: $baseHeadingSize * 0.8,
  h6: $baseHeadingSize * 0.7,
);



@keyframes draw-check {
  from {
    stroke-dashoffset: 140;
  };
  to{
    stroke-dashoffset: 0;
  }
}

%first-headings {
  padding-top: 0 !important;
}

.md-content {
  font-family: "Merriweather", serif;
  @each $heading, $fontSize in $headingsMap {
    #{$heading} { font-size: $fontSize }
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.125em;
    line-height: 2em;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5em;
    font-family: "Roboto", sans-serif;
    &.solo {
      padding-bottom: 1em;
    }
  }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    @extend %first-headings;
  };

  // key, value in list with object like map or
  // value, index in list : for single item list

  @each $var in $sub-heading-list {
    #{$var} {
      color: black;
      font-weight: 600;
    }
    @each $heading in $all-heading-list {
      #{$heading} + #{$var} {
        padding-top: 1em;
        margin-bottom: 1em;
      }
    }
    p + #{$var} {
      margin-top: 4rem;
    }
  }

  // links
  a {
    color: $text-grey;
    transition: color 100ms ease;
    &:hover{
      color: $accent-blue;
    }
    &:visited{
      // color: $accent-red;
    }
  }

  p+p {
    margin-top: 2rem;
  }

  hr {
    margin: 2em 0;
    height: 1px;
    background-color: transparentize(black, .8);;
    border: none;
  }
  blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em;
    &.bold {
      font-size: 1.25em;
      font-weight: bold;
      color: $text-grey;
      border-left: .2em solid $accent-blue;
      line-height: 1.75em;
    }
  }
  p + blockquote{
    margin: 3em 0;
  }

  // image classes and styles

  p {
    img {
        margin: 3rem 0;
        display: block;
        &.center{
          margin-left: auto;
          margin-right: auto;
        }
    }
    .portrait {
      width: 60%;
      &.shadow {
        box-shadow: 1px 1px 5px 2px lighten(grey, 30%);
      }
      &.full {
        height: 100%;
      }
      &.med {
        height: 450px;
        width: auto;
      }
      &.sml {
        height: 300px;
        width: auto;
      }
    }
    .landscape {
      width: 80%;
      &.full {
        width: 100%;
        height: auto;
      }
      &.med {
        width: 450px;
        height: auto;
      }
      &.sml {
        width: 300px;
        height: auto;
      }
    }
  }

  // lists
  // numbered list
  .num-list-container{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 80%;
    .numbered-list{
      list-style: none;
      counter-reset: listItem;
      .list-heading{
        margin-bottom: .5rem;
        padding: 0;
      }
      li{
        font:{
          family: "Roboto", sans-serif;
          size: 1.05rem;
        }
        line-height: 2rem;
        color: $text-grey;
        position: relative;
        &:before{
          counter-increment: listItem;
          content: counter(listItem) '.';
          position: absolute;
          left: -1.5rem;
        }
      }
    }
  }

  // small and medium devices
  @media(max-width:700px) {
    font-size: 1rem;
    p{
      line-height: 2em;
      .portrait {
        width: 80%;
        &.med {
          height: 350px;
          width: auto;
        }
        &.sml {
          height: 200px;
          width: auto;
        }
      }
      img.landscape {
        width: 100% !important;
      }
    }
    // links
    a {
      color: $accent-blue;
      &:visited{
        color: $accent-red;
      }
    }
  }

  // medium and large devices
  @media(min-width:701px) {

  }
}
