%first-headings {
  padding-top: 0 !important;
  margin-bottom: 1em !important;
}

.md-content {
  // allways
  font-family: "Merriweather",serif;
  h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
    padding-top: 1.5em;
  }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    @extend %first-headings;
  }
  p+p {
    text-indent: 1em;
  }
  ul {
    list-style: disc inside none;
  }
  li > ul{
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 1em;
  }
  ol {
    list-style: decimal inside none;
  }
  hr {
    margin: 2em 0;
    height: 1px;
    background-color: transparentize(black, .8);;
    border: none;
  }
  blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em;
  }

  // small and medium devices
  @media(max-width:700px) {
    font-size: 1rem;
    p{
      line-height: 1.5em;
    }
  }

  // medium and large devices
  @media(min-width:701px) {
    font-size: 1rem;
    p {
      line-height: 1.5em;
    }
  }
}
