$sub-heading-list: h2 h3 h4 h5 h6;

%first-headings {
  padding-top: 0 !important;
  margin-bottom: 1em !important;
}

.md-content {
  // allways
  font-family: "Merriweather",serif;
  p {
    color: rgba(56, 56, 56, 0.9);
  }

  @each $list in ul,ol {
    #{$list} {
      color: rgba(56, 56, 56, 0.9);
      list-style-type: none;
      font-family:"Roboto",sans-serif;
      font-size: 1.25em;
      line-height: 1.5em;
    }
    p + #{$list} {
      padding-top: 2em;
      padding-left: 3em;
      li {
        // list-style-position: outside;
        counter-increment: step-counter;
        padding-bottom: 2em;
        position: relative;
        &:before{
          font-size: 1.25em;
          content: counter(step-counter);
          position: absolute;
          left: -1.5em;
          color: black;
          text-align: center;

        }
      }
    }
  }

  h1 {
    font-size: 1.75em;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5em;
    padding-top: 2em;
    font-family: "Roboto",sans-serif;
    &.solo {
      padding-bottom: 1em;
    }
  }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    @extend %first-headings;
  };

  // key, value in list with object like map or
  // value, index in list : for single item list

  @each $var in $sub-heading-list {
    #{$var} {
      color: rgba(56, 56, 56, 0.6);
      font-size:1.25em;
      font-weight: 600;
    }
    h1 + #{$var} {
      padding-top: 1em;
      margin-bottom: 1em;
    }
  }

  // links
  a {
    color: lighten($accent-red, 10%);
    // text-decoration: none;
    &:visited {
      text-decoration: underline;
    }
  }

  p+p {
    text-indent: 2em;
  }


  hr {
    margin: 2em 0;
    height: 1px;
    background-color: transparentize(black, .8);;
    border: none;
  }
  blockquote {
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    color: grey;
    font-style: italic;
    border-left: .2em solid grey;
    padding-left: 1em;
    &.bold {
      font-size: 1.25em;
      font-weight: bold;
      color: $text-grey;
      border-left: .2em solid $accent-blue;
      line-height: 1.75em;
    }
  }
  p + blockquote{
    margin: 3em 0;
  }


  // image classes and styles

  p {
    img {
        margin: 3rem 0;
        display: block;
        &.center{
          margin-left: auto;
          margin-right: auto;
        }
    }
    .portrait {
      width: 60%;
      &.shadow {
        box-shadow: 1px 1px 5px 2px lighten(grey, 30%);
      }
      &.full {
        height: 100%;
      }
      &.med {
        height: 450px;
        width: auto;
      }
      &.sml {
        height: 300px;
        width: auto;
      }
    }
    .landscape {
      width: 80%;
      &.full {
        width: 100%;
        height: auto;
      }
      &.med {
        width: 450px;
        height: auto;
      }
      &.sml {
        width: 300px;
        height: auto;
      }
    }

  }

  // small and medium devices
  @media(max-width:700px) {
    font-size: 1rem;
    p{
      line-height: 1.65em;
      .portrait {
        width: 80%;
        &.med {
          height: 350px;
          width: auto;
        }
        &.sml {
          height: 200px;
          width: auto;
        }
      }
      img.landscape {
        width: 100% !important;
      }
    }
  }

  // medium and large devices
  @media(min-width:701px) {
    font-size: 1rem;
    p {
      line-height: 2em;
    }
  }
}
