@mixin center-vert($pos) {
  position: $pos;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center-horiz($pos) {
  position: $pos;
  left: 50%;
  transform: translateX(-50%);
}
@mixin center-both($pos) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
