// mixin
@mixin button-gradient($color1,$color2){
  background-image: -webkit-linear-gradient(left, $color1 10%, $color2);
  background-image: -moz-linear-gradient(left, $color1 10%, $color2);
  background-image: -o-linear-gradient(left, $color1 10%, $color2);
  background-image: linear-gradient(to right, $color1 10%, $color2);
}

// map list
$colors: (
  tic-tac-toe: #00ADB5,
  twitch-viewer: rgb(69, 56, 174),
  weather-forecast: #02c39a,
  clock: #EE7C4B
);

// looping through
// key, value in list
@each $project, $color in $colors{
  .grad_#{$project} {
    @include button-gradient($accent-blue,$color)
  }
}
