* {
  padding: 0;
  margin: 0;
}

:root {
  font: {
    size: $root-font;
  }
}

body {
  padding: $body-padding;
  @media(max-width: 700px) {
    overflow-x: hidden;
  }
}

.hide-me {
  display: none !important;
}

// for dev

.bg-p {
  background-color: rgba(223, 180, 255, .3);
}
.bg-b {
  background-color: rgba(10, 10, 220, .3);
}
.bg-r {
  background-color: rgba(223, 0, 0, .3);
}
