@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blogPostsCont {
  animation: fadein 300ms ease-in backwards;
  &.TOP_HEADER {
    top: 50px;
  }
  &.stickyHeaderSpace {
    position: relative;
  }
}
