%readMore {
  content: 'read more';
  position: absolute;
  left: 0px;
  color: $accent-blue;
  display: inline-block;
  transform: translateY(110%);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
};

.post-preview {
  // animation: postPreviewAnimation 500ms ease backwards;
  max-width: 450px;
  width: 100%;
  &:not(:first-child) {
    margin-top: 70px;
  }
  &:hover {
    .description::after {
      @extend %readMore;
    }
    .heading {
      text-decoration: underline;
    }
  }
  &.mobile {
    .description::after {
      @extend %readMore;
      opacity: 0.7;
    }
  }
}

.link {
  color: black;
  text-decoration: none;
}

.heading {
  font-size: 24px;
}

.date {
  font-weight: 300;
  opacity: 0.7;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: italics;
}

.description {
  position: relative;
  line-height: 24px;
  font-family: "Merriweather", serif;
  opacity: 0.8;
}
