.blogMenuCont {
  box-sizing: border-box;
  position: relative;
  width: 240px;
  height: auto;
  &.TOP_HEADER {
    height: 70px;
    width: 100%;
  }
  @media (min-width: $m-bp + 1) {
    width: 280px;
    margin-left: 40px;
  }
}
