# extends "base.html"
# block pageStyles
<link rel="stylesheet" href="about.css">
# endblock pageStyles

# block page
<div class="about">
    <div class="section">
        <h3 class="about-header">Introduction</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Molestie nunc non blandit massa enim nec dui. Diam vulputate ut pharetra sit amet
            aliquam id diam. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Sem viverra aliquet eget
            sit amet tellus cras. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Orci a scelerisque purus
            semper eget. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Nibh praesent tristique
            magna sit amet purus gravida quis blandit. Venenatis urna cursus eget nunc scelerisque. Mus mauris vitae
            ultricies leo.
        </p>
    </div>
    <div class="section">
        <h3 class="about-header">Projects</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Molestie nunc non blandit massa enim nec dui. Diam vulputate ut pharetra sit amet
            aliquam id diam. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Sem viverra aliquet eget
            sit amet tellus cras. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Orci a scelerisque purus
            semper eget. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Nibh praesent tristique
            magna sit amet purus gravida quis blandit. Venenatis urna cursus eget nunc scelerisque. Mus mauris vitae
            ultricies leo.
        </p>
    </div>
</div>
# endblock page