* {
  box-sizing: border-box; }

/*
  * Base Styles
*/
.row {
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row wrap; }
  .row.pull--edges {
    justify-content: space-between; }
  .row.max--height {
    height: 100%; }
  .row.center--col-y {
    align-items: center; }
  .row.center--col-x {
    justify-content: center; }
  .row.center--col-xy {
    justify-content: center;
    align-items: center; }
  .row.center--row-y {
    transform: translateY(-50%);
    top: 50%;
    position: relative; }
  .row.center--row-x {
    transform: translateX(-50%);
    left: 50%;
    position: relative; }
  .row.center--row-xy {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: relative; }

.box {
  position: relative;
  min-height: 10px;
  vertical-align: middle;
  height: 100%;
  width: 100%; }
  .box.auto--width {
    width: auto; }
  .box.center--col-y {
    align-self: center; }
  .box.center--content {
    text-align: center; }

.wrapper {
  margin: 0 auto;
  width: 980px; }

.s--1-2, .s--2-4, .s--3-6, .s--4-8, .s--6-12 {
  width: 50%; }

.s--2-2, .s--3-3, .s--4-4, .s--5-5, .s--6-6, .s--8-8, .s--12-12 {
  width: 100%; }

.s--1-3, .s--2-6, .s--4-12 {
  width: 33.3333%; }

.s--2-3, .s--4-6, .s--8-12 {
  width: 66.6667%; }

.s--1-4, .s--2-8, .s--3-12 {
  width: 25%; }

.s--3-4, .s--6-8, .s--9-12 {
  width: 75%; }

.s--1-5 {
  width: 20%; }

.s--2-5 {
  width: 40%; }

.s--3-5 {
  width: 60%; }

.s--4-5 {
  width: 80%; }

.s--1-6, .s--2-12 {
  width: 16.6667%; }

.s--5-6, .s--10-12 {
  width: 83.3333%; }

.s--1-8 {
  width: 12.5%; }

.s--3-8 {
  width: 37.5%; }

.s--5-8 {
  width: 62.5%; }

.s--7-8 {
  width: 87.5%; }

.s--1-12 {
  width: 8.3333%; }

.s--5-12 {
  width: 41.6667%; }

.s--7-12 {
  width: 58.3333%; }

.s--11-12 {
  width: 91.6667%; }

@media (min-width: 650px) {
  .m--1-2, .m--2-4, .m--3-6, .m--4-8, .m--6-12 {
    width: 50%; }
  .m--2-2, .m--3-3, .m--4-4, .m--5-5, .m--6-6, .m--8-8, .m--12-12 {
    width: 100%; }
  .m--1-3, .m--2-6, .m--4-12 {
    width: 33.3333%; }
  .m--2-3, .m--4-6, .m--8-12 {
    width: 66.6667%; }
  .m--1-4, .m--2-8, .m--3-12 {
    width: 25%; }
  .m--3-4, .m--6-8, .m--9-12 {
    width: 75%; }
  .m--1-5 {
    width: 20%; }
  .m--2-5 {
    width: 40%; }
  .m--3-5 {
    width: 60%; }
  .m--4-5 {
    width: 80%; }
  .m--1-6, .m--2-12 {
    width: 16.6667%; }
  .m--5-6, .m--10-12 {
    width: 83.3333%; }
  .m--1-8 {
    width: 12.5%; }
  .m--3-8 {
    width: 37.5%; }
  .m--5-8 {
    width: 62.5%; }
  .m--7-8 {
    width: 87.5%; }
  .m--1-12 {
    width: 8.3333%; }
  .m--5-12 {
    width: 41.6667%; }
  .m--7-12 {
    width: 58.3333%; }
  .m--11-12 {
    width: 91.6667%; } }

@media (min-width: 980px) {
  .l--1-2, .l--2-4, .l--3-6, .l--4-8, .l--6-12 {
    width: 50%; }
  .l--2-2, .l--3-3, .l--4-4, .l--5-5, .l--6-6, .l--8-8, .l--12-12 {
    width: 100%; }
  .l--1-3, .l--2-6, .l--4-12 {
    width: 33.3333%; }
  .l--2-3, .l--4-6, .l--8-12 {
    width: 66.6667%; }
  .l--1-4, .l--2-8, .l--3-12 {
    width: 25%; }
  .l--3-4, .l--6-8, .l--9-12 {
    width: 75%; }
  .l--1-5 {
    width: 20%; }
  .l--2-5 {
    width: 40%; }
  .l--3-5 {
    width: 60%; }
  .l--4-5 {
    width: 80%; }
  .l--1-6, .l--2-12 {
    width: 16.6667%; }
  .l--5-6, .l--10-12 {
    width: 83.3333%; }
  .l--1-8 {
    width: 12.5%; }
  .l--3-8 {
    width: 37.5%; }
  .l--5-8 {
    width: 62.5%; }
  .l--7-8 {
    width: 87.5%; }
  .l--1-12 {
    width: 8.3333%; }
  .l--5-12 {
    width: 41.6667%; }
  .l--7-12 {
    width: 58.3333%; }
  .l--11-12 {
    width: 91.6667%; } }

@media (min-width: 1200px) {
  .xl--1-2, .xl--2-4, .xl--3-6, .xl--4-8, .xl--6-12 {
    width: 50%; }
  .xl--2-2, .xl--3-3, .xl--4-4, .xl--5-5, .xl--6-6, .xl--8-8, .xl--12-12 {
    width: 100%; }
  .xl--1-3, .xl--2-6, .xl--4-12 {
    width: 33.3333%; }
  .xl--2-3, .xl--4-6, .xl--8-12 {
    width: 66.6667%; }
  .xl--1-4, .xl--2-8, .xl--3-12 {
    width: 25%; }
  .xl--3-4, .xl--6-8, .xl--9-12 {
    width: 75%; }
  .xl--1-5 {
    width: 20%; }
  .xl--2-5 {
    width: 40%; }
  .xl--3-5 {
    width: 60%; }
  .xl--4-5 {
    width: 80%; }
  .xl--1-6, .xl--2-12 {
    width: 16.6667%; }
  .xl--5-6, .xl--10-12 {
    width: 83.3333%; }
  .xl--1-8 {
    width: 12.5%; }
  .xl--3-8 {
    width: 37.5%; }
  .xl--5-8 {
    width: 62.5%; }
  .xl--7-8 {
    width: 87.5%; }
  .xl--1-12 {
    width: 8.3333%; }
  .xl--5-12 {
    width: 41.6667%; }
  .xl--7-12 {
    width: 58.3333%; }
  .xl--11-12 {
    width: 91.6667%; } }
