- var aboutClass = "active";
- var blogClass = "inactive";
- var portfolioClass = "inactive";
- var contactClass = "inactive";
- var faviconURL = "assets/images/site-wide/favicon-logo.png";
- var logoURL = "assets/images/sprites/sprites.svg#logo";

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    include ./assets/markup/favicon.jade
    link(href="assets/styles/grizzly/grid.css" rel="stylesheet" type="text/css")
    link(href="assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-wrapper
      include ./assets/markup/nav.jade
      main.page-content#about-content
        article.row.center--col-x
          .box.wrapper
            .row.center--col-x
              .box.xl--5-12.center--content
                .profile-pic-wrapper
                  img(id="profile-pic" src="assets/images/Profile.jpg" alt="Profile image of Terrell Vest")
              .box.s--10-12.m--7-12.about-text-content
                h1.about-name-heading Terrell Vest
                .md-content
                  include ./assets/html/about.html
                .action-button-cont
                button.about-action-btn.abt-btn-resume resume
                  button.about-action-btn.abt-btn-projects projects
      footer.site-footer
    script(src="assets/scripts/g_a_code.js")
    
    
