
// default styles
#about-content {
  @extend %main_tag;
}


// small devices
@media (max-width: $medium-break-point) {
  #about-content{
    #profile-pic {
      width: 80%;
      padding-bottom: 2rem;
      @media (max-width: 550px){
        width: 100%;
      }
    }
    a {
      color: $accent-blue;
    }
  }
}

  // large devices
  @media (min-width: $medium-break-point + 1) {
    article > div {
      width: 72%;
    }
    #about-content {
      #profile-pic {
        width: 70%;
        padding-bottom: 2rem;
      }
      a {
        color: $text-grey;
        transition: color 100ms ease;
        &:hover{
          color: $accent-blue;
        }
      }
    }
  }
