#blog-content{ // main tag
  #blog-posts { // div holding inserted html
    a{
      color: black;
      text-decoration: none;
      -webkit-tap-highlight-color: rgba(55,183,255,.1); // for mobile chrome
      &:hover div h1{
        color: darken( $accent-blue,20%);
      }
      div{
        position: relative;
        margin:2em 0;
        h1 {
          color: black;
          font-weight: 600;
          font-size: 1.25em;
          padding-bottom: .5rem;
        }
        h1,span{
          font-family: "Roboto", sans-serif;
        }
        span{
          opacity: .4;
        }
        #blog-preview-dcr {
          color: $text-grey;
          line-height: 2rem;
          max-width: 475px;
          margin: 1rem 0;
          font-family: "Merriweather", serif;
        }
      }
    }
    div:nth-child(1) {
      margin-top: 0;
    }
  }
  #blog-posts {
    div:not(:first-child) a h1 {
      padding-top: 1.25rem;
    }
  }
  @media(min-width: $m-bp + 1) {
    .sub-header {
      width: 28%;
    }
    #blog-posts {
      width: 72%;
    }
  }
}
