#blog-post-list{
  width: 100%;
  margin: 2em 0;
  div {
    cursor: pointer;
    margin:2em 0;
    &:hover {
      p {
        color: darken( $accent-blue,30%) !important;
      }
    }
    a{
      color: black;
      text-decoration: none;
      p,span{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
      }
      span{
        z-index: -1;
      }
    }
  }
}
