%post-description {
  display: inline-block;
  margin-top: .75em;
  margin-bottom: 1.5em;
  span {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    display: block;
    font-style: italic;
    color: grey;
  }
}

.blog-post-content {
  @extend %main_tag;
  #blog-header-wrap {
    header {
      @extend %sub-header;
      @media(max-width:700px) {
        margin-left: -$body-padding;
        .page-title {
          margin-left: $body-padding;
        }
      }
    }
    .blog-post-description{
      @media(min-width:$medium-break-point + 1) {
        padding-right: 50px;
      }
      @extend %post-description;
    }
    @media(min-width:$medium-break-point + 1) {
      width: 28%;
      text-align: right;
    }
  }
  #blog-post-md-content {
    @media(min-width:$medium-break-point + 1) {
      width: 72%;
    }
  }

}
