// default styles
main {
  font-family: "Roboto", sans-serif;
}

// general
.contact-section {
  .header {
    .heading {
      font-size: 32px;
    }
    .sub-heading {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 22px;
      font-weight: 300;
      opacity: 0.5;
    }
  }
}

.social-container{
  margin-bottom: 6rem;
  font-size: 2rem;
  .icons {
    margin-top: 24px;
    .icon-row {
      width: 100%;
      max-width: 650px;
      justify-content: space-around;
    }
    .social-link {}
    .social-icon-circle {
      transition: height 200ms ease, width 200ms ease;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      position: relative;
      &:not(:first-of-type()) {
        margin-left: 5
      }
    }
    $iconSize: 27px;
    .social-icon {
      transition: height 200ms ease, width 200ms ease;
      height: $iconSize;
      width: $iconSize;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      &:not(#twitter) {
        top: 49%;
      }
    }
    #linkedIn {
      $mySize: $iconSize - 3px;
      height: $mySize;
      width: $mySize * 1.2222;
    }
  }
}


$socialColors: (
  twitter: #55ACEE,
  facebook: #3B5998,
  instagram: #e43f5e,
  linkedIn: #0077B5,
  github: #333
);

// key, value in list
@each $name, $color in $socialColors{
  .#{$name}_circle{
    color: $color;
    background-color: $color;
    .logo{
      opacity: 1 !important;
      filter: grayscale(1) brightness(10) !important;
    }
    &:after{
      transition: width 250ms ease-in-out;
    }
    &:hover{
      &:after{
        // apply styles to after on hover
      }
      .logo{
        opacity: 1 !important;
        filter: grayscale(1) brightness(10) !important;
      }
    }
  }
}


// email container
.email-container{
  margin-bottom: 5rem;
  font-size: 2rem;
  .email {
    .email-link {
      color: black;
      text-decoration: none;
      font-style: normal;
      color: $accent-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// mobile
@media(max-width: $m-bp) {

  .social-container{
    margin-bottom: 4rem;
    font-size: 2rem;
    .icons {
      padding: 0 50px;
      .social-link {
        margin: 1rem;
      }
      .social-icon-circle {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        position: relative;
      }
      $iconSize: 20px;
      .social-icon {
        height: $iconSize;
        width: $iconSize;
      }
    }
  }

  .email-container {
    .email {
      .email-link {
        font-size: 20px;
      }
    }
  }
}

// medium - large
@media(min-width: #{$m-bp + 1}px) {
  main {
  }
}
