.nav_container {
  // background-color: darken(grey,20%);
  @media(min-width: #{$medium-break-point + 1px}){
    position: absolute;
    width: 100%;
    margin-top: -$body-padding;
    margin-left: -$body-padding;
    display: block;
    height: 100px;
    // filter: drop-shadow(12px 12px 7px black);
    box-shadow: 1px 1px 4px  rgba(100,100,100,.2);
  }
}
