@import "../partials/vars.scss";
.site-header{
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0px;
  box-sizing: border-box;
  .site-nav{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: inherit;
    .navList {
      // border: 1px solid red;
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      list-style: none;
      box-sizing: border-box;
      position: absolute;
      text-align: left;
      li {
        margin: 0px;
        display: inline;
        font-family: "Roboto",sans-serif;
        font-size: 14px;

        a{
          text-decoration: none;
          text-align: left;
          color: black;
          padding: 14px;
          transition: "all 1s ease-in-out";
          cursor: pointer;
          &:hover {
            opacity: 1 !important;
          }
          &.active {
            opacity: 1;
          }
          &.inactive {
            opacity: .4;
          }
          &:first-child{
            padding-left: 0px;
          }
        }
      }
    }
  }
}
