.portfolio-post-content {
  .portfolio-post-composition {
    // subheader already styled
    .portfolio-post-description{
      margin: $body-padding 0;
      span {
        font-family: "Roboto",sans-serif;
        font-size: 14px;
        display: block;
        font-style: italic;
        color: grey;
      }
    }
    .portfolio-post-md-content {

    }
  }
}
