.portfolio-nav {
}

.portfolio-nav-box{
  width: 100%;
  padding: 0 1.5rem;
  @media (min-width: $m-bp) and (max-width: $l-bp - 1px) {
    max-width: 580px;
    padding: 0;
  }
  @media (min-width: $l-bp) {
    padding: 0 4rem;
  }
}
.portfolio-nav-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  &:not(:first-child) {
    margin-left: 40px;
  }
  &:hover {
    .portfolio-nav-text {
      opacity: 1 !important;
    }
  }
}
.portfolio-nav-text {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-backface-visibility: hidden;
}

.slider-cont {
  margin-top: 1rem;
  height: 20px;
}
.slider-ball{
  @include center-vert(absolute);
  background-color: dodgerblue;
  border-radius: 50%;
  $size: 14px;
  height: $size;
  width: $size;
  -webkit-backface-visibility: hidden;
}
.slider-rail {
  @include center-vert(absolute);
  background-color: #e4e4e4;
  height: 1px;
  width: 100%;
}
