.portfolio-container{

}

.web-project-container{

}

.project-item-row{
  margin-bottom: 6rem;
}
$gutter: 2rem;
// img container
.proj-prev-img-cont{
  padding-left: $gutter;
  padding-right: $gutter / 2;
}
// text container
.proj-prev-text-cont {
  padding-left: $gutter / 2;
  padding-right: $gutter;
}
