@keyframes psychodelic {
  50%{
    transform:translateX(-25%)
  };
  100%{
    transform:translateX(-74%)
  };
}
// fix the border radius that changes on hover
@mixin fixHover() {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

.actionButtons{
  box-sizing: border-box;
  position: relative;
  padding: 2rem 0 2rem $body-padding;
  .btn {
    font: {
      size: 1rem;
      family: "Roboto",sans-serif;
    }
    border-radius:#{50}px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 1px 4px 0px rgba(100,100,100,.4);
    padding: .75em 1.75em;
  }

  // to app button
  .toApp {
    position: relative;
    vertical-align: top;
    color: white;
    overflow: hidden;
    @include fixHover();
    &:hover > .content{
      animation: psychodelic 4s alternate forwards ease-in-out infinite;
    }
    .content {
      display: block;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%);
      height: 100%;
      width: 200%;
      z-index: -1000;
    }
  }

  // to github button
  .toGithub {
    color: black;
    margin-left: 2rem;
    background-color: white;
  }
}

// mobile view
@media(max-width: #{$medium-break-point}){
  .actionButtons{
    .btn{
      margin-bottom: 1rem;
    }
    .toApp {

    }
    .toGithub {

    }
  }
}

// medium and large view
@media(min-width: #{$medium-break-point + 1px}){
  .actionButtons{
    left: 28%;
    width: 72%;
    // display: inline-block;
    .btn {
    }
    .toApp {
    }
    .toGithub {
      margin-left: 2em;
    }
  }
}
