%sub-header {
  // allways
  .page-title {
    font-size: 1rem;
    font-family: "Roboto",sans-serif;
    display: inline-block;
  }
  // screens smaller than 700px
  @media (max-width:$medium-break-point) {
    width: 100vw;
    border-bottom: 1px solid transparentize(grey, .7);
    margin-bottom: 1.5rem;
    .page-title {
      padding-top: .75em;
      padding-bottom: .75em;
      border-bottom: 2px solid $accent-blue;
    }
  }

  // screens larger than 700px
  @media (min-width:$medium-break-point + 1) {
    position: relative;
    text-align: right;
    padding-right: 50px;
    .page-title {
      display: inline-block;
      position: relative;
      right: 0px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(2rem,-50%);
        background-color: $accent-blue;
        height: .5rem;
        width: .5rem;
        border-radius: 50%;
      }
    }
  }
}


.sub-header {
  @extend %sub-header;
}
