%page-title {
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 0 12px 0;
  display: inline;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $accent-blue;
    bottom: -1px;
    position: absolute;
  }
}
// I don't like this body level / site wide rule but if I ever need the horizontal scroll on the body I will have to refactor this scsss and possibly remove the body padding
body {
  overflow-x: hidden;
}

.subhead {
  position: relative;
  width: 100vw;
  height: 40px;
  margin-left: -1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid transparentize(grey, .7);
  .page-title{
    @extend %page-title;
    left: 1.5rem;
  }
  .page-title-port{
    @extend .page-title;
    &:after {
      display: none;
    }
  }
  .page-title-port + h1{
    @extend .page-title;
    position: relative;
    margin-left: 20px;
    &:after {
      display: none;
    }
  }

}
