- var aboutClass = "inactive";
- var blogClass = "inactive";
- var portfolioClass = "inactive";
- var contactClass = "active";
- var faviconURL = "../assets/images/site-wide/favicon-logo.png";
- var logoURL = "../assets/images/sprites/sprites.svg#logo";

- var socialIcons = {"twitter": ["twitter-logo-blue.png","https://twitter.com/TerrellVest7"], "facebook":["facebook-logo-white.png","https://www.facebook.com/terrell.vest7"], "instagram":["glyph-logo_May2016.png","https://www.instagram.com/terrellvest/","instagram://user?username=terrellvest7"], "linkedIn":["linkedIn-white.png","https://www.linkedin.com/in/terrellvest/"], "github":["github-white.png", "https://github.com/MirPresT"]}

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    include ../assets/markup/favicon.jade
    link(href="../assets/styles/grizzly/grid.css" rel="stylesheet" type="text/css")
    link(href="../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    .page-wrapper
      include ../assets/markup/nav.jade
      main
        .row
          .box.wrapper
            .row.center--col-x.social-container.contact-section
              .box.social-header.center--content.header
                h1.heading Social
                p.sub-heading short messages
              .box.icons
                .row.center--col-x.center--row-x.icon-row
                  each val, key in socialIcons
                    a.box.auto--width.social-link(href=val[1] target="_blank")
                      .social-icon-circle(class="#{key}_circle")
                        img.social-icon(src="../assets/images/social-icons/" + val[0] id=key)
            .row.center--col-x.email-container.contact-section
              .box.email-header.center--content.header
                h1.heading Email
                p.sub-heading longer messages
              address.box.email.center--content
                a.email-link(href="mailto:terrell@terrellvest.com") terrell@terrellvest.com
