- var aboutClass = "inactive"
- var blogClass = "inactive"
- var portfolioClass = "inactive"
- var contact = "active"

- var logoURL = "../assets/images/sprites/sprites.svg#logo";

doctype HTML
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="../assets/styles/main.css" rel="stylesheet" type="text/css")
  body
    div.nav_container
    header
      nav
        div.row
          include ../assets/markup/logo.jade
          include ../assets/markup/nav.jade
    main
      .row.icons
        header.sub-header.col
          h1.page-title Let's Talk
        #contact-sections.col
          div.social-container
            h1 Social
            p Perfect for a brief message
            row
              box.col
          div.email-container
            h1 Email
            p Or if your message is a bit longer
            p terrell@terrellvest.com
